.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--red);
  color: var(--white);
  padding: 18px 0;
  font-family: var(--second-family);
  font-size: 22px;
  text-transform: uppercase;
}

.marquee-content {
  display: inline-block;
  animation: scroll 50s linear infinite;
  padding-left: 100%;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media (max-width: 375px) {
  .marquee {
    padding: 10px 0;

    font-size: 14px;
  }
}
